@import './variables.scss';

.home {
    background-color: $grey;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.6rem auto;
}

.login-container,
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.login-inner,
.profile-container {
    // border: 1px solid $grey;
    // border-radius: 5px;
    margin: 0 1rem;
    padding: 1rem;
    max-width: 500px;
    width: 100%;
}